<!DOCTYPE html>
<html>
  <head>
    <title>ToDo List</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="css/landing.css" />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"
      type="text/javascript"
      async
    ></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Patua+One&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="landing-header" style="font-size: large;">
      <h1>Welcome to Todo List WebApp</h1>
      <a href="/register" class="btn btn-lg btn-success">register</a>
      <a href="/Login" class="btn btn-lg btn-primary">Login</a>
    </div>

    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>

    <%- include('footer') %>
  </body>
</html>
